<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<form method="post">

    <th:block th:each="employer : ${employers}">
        <div class="form-group">
            <label>
                <span th:text="${employer.name}"></span>
                <input type="checkbox" name="employerId" th:value="${employer.id}" >
            </label>
        </div>
    </th:block>

    <input type="submit" value="Delete" class="btn btn-danger">
</form>

</body>
</html>