<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org/">-->
<!--<head th:replace="fragments :: head"></head>-->
<!--<body class="container">-->

<!--<form method="post">-->

<!--    <th:block th:each="employer : ${employers}">-->
<!--        <div class="form-group">-->
<!--            <label>-->
<!--                <span th:text="${employer.name}"></span>-->
<!--                <input type="checkbox" name="employerId" th:value="${employer.id}" >-->
<!--            </label>-->
<!--        </div>-->
<!--    </th:block>-->

<!--    <input type="submit" value="Delete" class="btn btn-danger">-->
<!--</form>-->

<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container  body-content">
<h1>Delete Employer</h1>

<nav th:replace="fragments :: page-header"></nav>


<!--<form method="post" th:action="@{/employers/delete}">-->

<!--    <th:block th:each="employer : ${employers}">-->
<!--        <div class="form-group">-->
<!--            <label>-->
<!--                <span th:text="${employer.name}"></span>-->
<!--                <input type="checkbox" name="employerId" th:value="${employer.id}" >-->
<!--            </label>-->
<!--        </div>-->
<!--    </th:block>-->
<!--    <input type="text" th:text="${employer.name}">-->
<!--    <input type="submit" value="Delete" class="btn btn-danger">-->
<!--    <input type="hidden" th:value="${employer.id}" name="employerId">-->
<!--</form>-->

<form method="post" th:action="@{/employers/delete}">
    <div class="form-group">
        <label th:for="name">Employer Name</label>
        <input class="form-control" th:field="${employer.name}" />
        <span th:errors="${employer.name}" class="error"></span>
    </div>

<!--    <div class="form-group">-->
<!--        <label th:for="location">Employer Location</label>-->
<!--        <input class="form-control" th:field="${employer.location}" />-->
<!--        <span th:errors="${employer.location}" class="error"></span>-->
<!--    </div>-->
    <input type="hidden" th:value="${employer.id}" name="employerId">
    <input type="submit" value="Delete Employer" />
</form>

</body>
</html>